<div class="channel">
  <a name="channel-{{channelName}}"></a>
  <h3 class="channel__header">
    {{#if channel.deprecated}}
    <span class="operation-badge operation-badge--deprecated channel__header__operation-badge">Deprecated</span>
    {{/if}}

    {{#if channel.publish}}
    <span class="operation-badge operation-badge--publish channel__header__operation-badge">Publish</span>
    {{/if}}

    {{#if channel.subscribe}}
    <span class="operation-badge operation-badge--subscribe channel__header__operation-badge">Subscribe</span>
    {{/if}}

    {{channelName}}
  </h3>

  {{#if channel.parameters}}
  {{~> parameters params=channel.parameters channelName=channelName ~}}
  {{/if}}

  <h4>Message</h4>

  {{#if channel.publish.oneOf}}
  <p>You can send one of the following messages:</p>
  {{/if}}
  {{#if channel.subscribe.oneOf}}
  <p>You can send one of the following messages:</p>
  {{/if}}

  {{~#each channel.publish.oneOf as |op index| ~}}
    <h4>Message #{{inc index}}</h4>
    {{~> operation operation=op cssClasses='operation--indented'~}}
  {{else}}
    {{~#if channel.publish ~}}
      {{~> operation operation=channel.publish~}}
    {{~/if~}}
  {{~/each~}}

  {{~#each channel.subscribe.oneOf as |op index| ~}}
    <h4>Message #{{inc index}}</h4>
    {{~> operation operation=op cssClasses='operation--indented'~}}
  {{else}}
    {{~#if channel.subscribe ~}}
      {{~> operation operation=channel.subscribe~}}
    {{~/if~}}
  {{~/each~}}
</div>
