{% macro example(msg) %}

<form>
  <input type="radio" checked id="example-payload-{{channelName}}-{{msg.uid()}}" name="tab" class="examples-payload-tab hidden" {% if not msg.payload() %}disabled{% endif %}/>
  <label for="example-payload-{{channelName}}-{{msg.uid()}}" class="py-1 px-2 mr-2 mb-4 text-grey-lightest text-sm border rounded focus:outline-none cursor-pointer {% if not msg.payload() %}text-grey-dark border-grey-dark opacity-25{% else %}text-grey-lightest{% endif %}" {% if not msg.payload() %}title="This message does not have a payload"{% endif %}>Payload</label>

  <input type="radio" id="example-headers-{{channelName}}-{{msg.uid()}}" name="tab" class="examples-headers-tab hidden" {% if not msg.headers() %}disabled{% endif %} />
  <label for="example-headers-{{channelName}}-{{msg.uid()}}"
      class="py-1 px-2 mr-2 mb-4 text-sm border rounded focus:outline-none cursor-pointer {% if not msg.headers() %}text-grey-dark border-grey-dark opacity-25{% else %}text-grey-lightest{% endif %}" {% if not msg.headers() %}title="This message does not have headers"{% endif %}>Headers</label>

  <div class="payload-examples mt-4">
    {% if msg | getPayloadExamples | length %}
      {% for ex in msg | getPayloadExamples %}
        <h6 class="text-xs font-bold text-grey-darker">Example #{{loop.index}}</h6>
        <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{{ex | dump | safe }}</code></pre>
      {% endfor %}
    {% elif msg.payload() %}
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{{ msg.payload().json() | generateExample | safe }}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    {% endif %}
  </div>

  <div class="headers-examples mt-4">
    {% if msg | getHeadersExamples | length %}
      {% for ex in msg | getHeadersExamples %}
        <h6 class="text-xs font-bold text-grey-darker">Example #{{loop.index}}</h6>
        <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{{ ex | dump | safe }}</code></pre>
      {% endfor %}
    {% elif msg.headers() %}
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{{ msg.headers().json() | generateExample | safe }}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    {% endif %}
  </div>
</form>

{% endmacro %}
