{% from "./schema.html" import schema %}

{% macro message(msg, showIndex=false, index=0, open=false, prefixHtml=false) %}

<div class="center-block pr-8 pl-8">
  <div class="operation pb-8">
    {% if prefixHtml %}
      {{ prefixHtml | safe }}
    {% endif %}
    <div class="bg-grey-lighter rounded p-4 mt-2">
      <div class="text-sm text-grey-darker mb-2">
        {% if showIndex %}
        <span class="text-grey-darker font-bold mr-2">#{{index}}</span>
        {% endif %}
        {% if msg.title() %}
          {{msg.title()}}
          {% if msg.name() %}
            <span class="border text-orange rounded text-xs ml-3 py-0 px-2">{{msg.name()}}</span>
          {% endif %}
        {% else %}
          {% if msg.name() %}
            <span class="border text-orange rounded text-s py-0 px-2">{{msg.name()}}</span>
          {% endif %}
        {% endif %}
      </div>
      <p class="text-grey-dark text-sm">{{msg.summary()}}</p>
      <div class="mt-4 mb-4 markdown">{{ msg.description() | markdown2html | safe }}</div>
      {{ schema(msg.payload(), 'Payload', open=open) }}
      {% if msg.headers() %}
        <div class="mt-4">
          {{ schema(msg.headers(), 'Headers', open=open) }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="right-block pr-8 pl-8">
  <h4 class="text-lg text-white mb-4">Examples</h4>

  <form>
    <input type="radio" checked id="example-payload-{{channelName}}-{{msg.uid()}}" name="tab" class="examples-payload-tab hidden" {% if not msg.payload() %}disabled{% endif %}/>
    <label for="example-payload-{{channelName}}-{{msg.uid()}}" class="py-1 px-2 mr-2 mb-4 text-grey-lightest text-sm border rounded focus:outline-none cursor-pointer {% if not msg.payload() %}text-grey-dark border-grey-dark opacity-25{% else %}text-grey-lightest{% endif %}" {% if not msg.payload() %}title="This message does not have a payload"{% endif %}>Payload</label>

    <input type="radio" id="example-headers-{{channelName}}-{{msg.uid()}}" name="tab" class="examples-headers-tab hidden" {% if not msg.headers() %}disabled{% endif %} />
    <label for="example-headers-{{channelName}}-{{msg.uid()}}"
      class="py-1 px-2 mr-2 mb-4 text-sm border rounded focus:outline-none cursor-pointer {% if not msg.headers() %}text-grey-dark border-grey-dark opacity-25{% else %}text-grey-lightest{% endif %}" {% if not msg.headers() %}title="This message does not have headers"{% endif %}>Headers</label>

    <div class="payload-examples mt-4">
      {% if msg | getPayloadExamples | length %}
        {% for ex in msg | getPayloadExamples %}
          <h6 class="text-xs font-bold text-grey-darker">Example #{{loop.index}}</h6>
          <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{{ex | safe }}</code></pre>
        {% endfor %}
      {% elif msg.payload() %}
        <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{{ msg.payload().json() | generateExample | safe }}</code></pre>
        <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
      {% endif %}
    </div>

    <div class="headers-examples mt-4">
      {% if msg | getHeadersExamples | length %}
        {% for ex in msg | getHeadersExamples %}
          <h6 class="text-xs font-bold text-grey-darker">Example #{{loop.index}}</h6>
          <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{{ ex | safe }}</code></pre>
        {% endfor %}
      {% elif msg.headers() %}
        <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{{ msg.headers().json() | generateExample | safe }}</code></pre>
        <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
      {% endif %}
    </div>
  </form>
</div>

{% endmacro %}
