<div class="{{#if odd}}bg-grey-lighter{{else}}bg-grey-lightest{{/if}} {{#unless root}}pl-8 pr-8{{/unless}} rounded">
  <div class="{{#if open}}is-open{{/if}}">
    <div class="{{#if (isExpandable prop)}}js-prop cursor-pointer py-2{{/if}} flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm {{#if specialName}}italic text-grey{{/if}}" style="word-break: break-word;">{{propName}}</span>
        {{#if (isExpandable prop)}}
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        {{/if}}
        {{#if required}}
          <div class="text-red-dark text-xs">required</div>
        {{/if}}
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          {{>type prop=prop}}
          {{#if prop.anyOf}}anyOf{{/if}}
          {{#if prop.oneOf}}oneOf{{/if}}
          <div class="inline-block">
            {{#if prop.format}}
              <span class="bg-yellow-dark font-bold no-underline text-black rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;">{{prop.format}}</span>
            {{/if}}
            {{#unless (equal prop.minimum undefined)}}
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At least {{prop.minimum}}">>= {{prop.minimum}}</span>
            {{/unless}}
            {{#unless (equal prop.exclusiveMinimum undefined)}}
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="Greater than {{prop.exclusiveMinimum}}">> {{prop.exclusiveMinimum}}</span>
            {{/unless}}
            {{#unless (equal prop.maximum undefined)}}
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At most {{prop.maximum}}"><= {{prop.maximum}}</span>
            {{/unless}}
            {{#unless (equal prop.exclusiveMaximum undefined)}}
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="Less than {{prop.exclusiveMaximum}}">< {{prop.exclusiveMaximum}}</span>
            {{/unless}}
            {{#unless (equal prop.minItems undefined)}}
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;">>= {{prop.minItems}} items</span>
            {{/unless}}
            {{#unless (equal prop.maxItems undefined)}}
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;"><= {{prop.maxItems}} items</span>
            {{/unless}}
            {{#unless (equal prop.maxLength undefined)}}
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;">length <= {{prop.maxLength}}</span>
            {{/unless}}
            {{#unless (equal prop.minLength undefined)}}
            <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                  style="height: 20px;font-size: 11px;padding: 3px;">length >= {{prop.minLength}}</span>
            {{/unless}}
            {{#unless (equal prop.pattern undefined)}}
            <span class="bg-purple-dark font-bold no-underline text-white rounded ml-2"
                  style="height: 20px;font-size: 11px;padding: 3px;">must match {{prop.pattern}}</span>
            {{/unless}}
            {{#if prop.uniqueItems}}
              <span class="bg-red-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="Array items must be unique">Unique</span>
            {{/if}}
          </div>
        </div>

        {{#if prop.descriptionAsHTML}}
          <div class="text-sm markdown">{{{prop.descriptionAsHTML}}}</div>
        {{/if}}
        {{#unless (equal prop.default undefined)}}
          <div class="text-xs">Default: {{prop.default}}</div>
        {{/unless}}
        {{#if prop.enum}}
          <div class="text-xs">
            Enum:
            {{#each prop.enum as |value|}}
              <span class="border text-orange rounded ml-1 py-0 px-2">{{stringify value}}</span>
            {{/each}}
          </div>
        {{/if}}
      </div>
    </div>

    {{#if (isExpandable prop)}}
      <div class="children {{#if odd}}bg-grey-lightest{{else}}bg-grey-lighter{{/if}} py-4 rounded">
        {{#if prop.properties}}
          {{#each prop.properties}}
            {{> schemaProp prop=. propName=@key odd=(not ../odd) required=(contains ../prop.required @key)}}
          {{/each}}
        {{/if}}

        {{#if (equal prop.type 'array')}}
          {{#if prop.items}}
            <p class="pl-6 mb-2 text-xs font-bold uppercase text-grey-darker">Items:</p>
            {{#if (isArray prop.items)}}
              {{#each prop.items}}
              {{> schemaProp prop=. propName=@key odd=(not ../odd) required=(contains ../prop.required @key)}}
              {{/each}}
            {{else}}
              {{> schemaProp prop=prop.items propName=0 odd=(not odd) required=(contains prop.required @key)}}
            {{/if}}
          {{/if}}

          {{#if (in (array undefined true) prop.additionalItems)}}
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional items are allowed.</p>
          {{else if (equal prop.additionalItems false)}}
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional items are NOT allowed.</p>
          {{else}}
            <p class="pl-6 mb-2 mt-4 text-xs font-bold text-grey-darker">Additional Items:</p>
            <div class="{{#if odd}}bg-grey-lightest{{else}}bg-grey-lighter{{/if}} pl-6">
              {{> schemaProp prop=prop.additionalItems propName='' odd=(not odd)}}
            </div>
          {{/if}}
        {{/if}}

        {{#if (equal prop.type 'object')}}
          {{#if (in (array undefined true) prop.additionalProperties)}}
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are allowed.</p>
          {{else if (equal prop.additionalProperties false)}}
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are <strong>NOT</strong> allowed.</p>
          {{else}}
            <p class="pl-6 mb-2 mt-4 text-xs font-bold text-grey-darker">Additional properties must adhere to the following schema:</p>
            <div class="{{#if odd}}bg-grey-lightest{{else}}bg-grey-lighter{{/if}} pl-6">
              {{> schemaProp prop=prop.additionalProperties propName='(property name)' odd=(not odd) open=false specialName=true}}
            </div>
          {{/if}}
        {{/if}}

        {{#if prop.oneOf}}
          {{#each prop.oneOf}}
            {{> schemaProp prop=. propName=@key odd=(not ../odd) required=(contains ../prop.required @key)}}
          {{/each}}
        {{/if}}

        {{#if prop.anyOf}}
          {{#each prop.anyOf}}
            {{> schemaProp prop=. propName=@key odd=(not ../odd) required=(contains ../prop.required @key)}}
          {{/each}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
