<a name="schema-{{schemaName}}"></a>
<div class="schema">
  {{#unless hideTitle}}
  <h4>{{schemaName}}</h4>
  {{/unless}}

  <table class="table">
    <thead class="table__head">
      <tr class="table__head__row">
        <th class="table__head__cell">Name</th>
        <th class="table__head__cell">Title</th>
        <th class="table__head__cell">Type</th>
        <th class="table__head__cell">Format</th>
        <th class="table__head__cell">Default</th>
        <th class="table__head__cell">Description</th>
      </tr>
    </thead>
    <tbody class="table__body">
      {{#each schema.properties}}
        {{> schemaProp prop=. propName=@key required=(contains ../schema.required @key)}}
      {{else}}
        {{> schemaProp prop=schema propName=schemaName required=(contains ../schema.required @key)}}
      {{/each}}
    </tbody>
  </table>

{{#if schema.example}}
<h4>Example</h4>

<pre class="hljs"><code class="json">{{~schema.formattedExample~}}</code></pre>
{{else}}
  {{#if schema.generatedExample}}
  <h4>Example <em>(generated)</em></h4>

  <pre class="hljs"><code class="json">{{~schema.generatedExample~}}</code></pre>
  {{/if}}
{{/if}}
</div>
