<tr class="table__body__row">
  <td class="table__body__cell">{{{tree path}}}{{propName}} {{#if required}}<span class="required-badge">(Required)</span>{{/if}}</td>
  <td class="table__body__cell">{{prop.title}}</td>
  <td class="table__body__cell">
    {{prop.type}}
    {{#if prop.anyOf}}anyOf{{/if}}
    {{#if prop.oneOf}}oneOf{{/if}}
    {{#if prop.items.type}}({{prop.items.type}}){{/if}}
  </td>
  <td class="table__body__cell">{{prop.format}}</td>
  <td class="table__body__cell">{{prop.default}}</td>
  <td class="table__body__cell">{{prop.description}}</td>
</tr>
{{#if prop.anyOf}}
  {{#each prop.anyOf}}
    {{> schemaProp prop=. propName=@key path=(concat ../path @key '.') required=(contains ../prop.required @key)}}
  {{/each}}
{{/if}}
{{#if prop.oneOf}}
  {{#each prop.oneOf}}
    {{> schemaProp prop=. propName=@key path=(concat ../path @key '.') required=(contains ../prop.required @key)}}
  {{/each}}
{{/if}}
{{#if prop.properties}}
  {{#each prop.properties}}
  {{> schemaProp prop=. propName=@key path=(concat ../path @key '.') required=(contains ../prop.required @key)}}
  {{/each}}
{{/if}}
{{#if prop.items}}
  {{#if prop.items.properties}}
    {{#each prop.items.properties}}
    {{> schemaProp prop=. propName=@key path=(concat ../path @key '.') required=(contains ../prop.items.required @key)}}
    {{/each}}
  {{/if}}
{{/if}}
