{{#if asyncapi.servers}}
<a name="servers"></a>
<div class="center-block p-8">

  <h2 class="mb-4">Servers</h2>

  {{#each asyncapi.servers as |server|}}
    <div class="shadow bg-grey-lighter mb-3 px-4 py-3">
      <div class="flex">
        <div>
          <div class="pr-4 font-mono">
            {{server.url}}

            {{#if server.protocolVersion}}
            <span class="bg-teal font-bold no-underline text-white uppercase rounded ml-2"
              style="height: 20px;font-size: 11px;padding: 3px;">{{server.protocol}}
              {{server.protocolVersion}}</span>
            {{else}}
            <span class="bg-teal font-sans font-bold no-underline text-white uppercase rounded ml-2"
              style="height: 20px;font-size: 11px;padding: 3px;">{{server.protocol}}</span>
            {{/if}}
          </div>
          <div class="text-xs text-grey-dark">
            {{{server.descriptionAsHTML}}}
          </div>
        </div>
      </div>

      {{#if server.variables}}
        <div>
          {{#each server.variables as |var|}}
            <div class="leading-normal">
              <span class="font-bold no-underline text-grey-dark text-xs uppercase">{{@key}}:</span>
              <span class="text-xs">{{var.description}}</span>
              <div class="inline-block">
                {{#if var.enum }}
                <span class="bg-indigo-darker font-bold no-underline text-white rounded ml-2"
                  style="height: 20px;font-size: 11px;padding: 3px;">ENUM: {{join var.enum ', '}}</span>
                {{/if}}
                {{#if var.default }}
                <span class="bg-indigo-darker font-bold no-underline text-white rounded ml-2"
                  style="height: 20px;font-size: 11px;padding: 3px;">DEFAULT: {{var.default}}</span>
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}

      {{#if server.security}}
        <h5 class="text-sm text-grey mt-1">Security:</h5>
        <ul class="list-reset">
          {{#each server.security as |sec|}}
            <li>
              {{#with (lookup ../../asyncapi.components.securitySchemes (firstKey sec)) as |def|}}
                <span class="font-bold no-underline text-grey-dark text-xs uppercase mr-1">
                  {{#if (equal def.type 'apiKey')}}
                  API key:
                  {{/if}}
                  {{#if (equal def.type 'oauth2')}}
                  OAuth2:
                  {{/if}}
                  {{#if (equal def.type 'openIdConnect')}}
                  Open ID:
                  {{/if}}
                  {{#if (equal def.type 'http')}}
                  HTTP:
                  {{/if}}
                  {{#if (equal def.type 'userPassword')}}
                  User / Password:
                  {{/if}}
                  {{#if (equal def.type 'X509')}}
                  X509:
                  {{/if}}
                  {{#if (equal def.type 'symmetricEncryption')}}
                  Symmetric Encription:
                  {{/if}}
                  {{#if (equal def.type 'asymmetricEncryption')}}
                  Asymmetric Encription:
                  {{/if}}
                  {{#if (equal def.type 'httpApiKey')}}
                  HTTP API key:
                  {{/if}}
                </span>

                {{#if def.description}}
                  <span class="text-xs mr-2">{{def.description}}</span>
                {{else}}
                  <span class="text-xs mr-2 italic text-grey-dark">No description</span>
                {{/if}}

                {{#if def.bearerFormat}}
                  <span class="text-xs mr-2">| {{def.bearerFormat}}</span>
                {{/if}}

                {{#if def.in}}
                  <span class="font-bold no-underline bg-blue-light text-white text-xs uppercase rounded"
                    style="height: 20px;font-size: 11px;padding: 3px;">In: {{def.in}}</span>
                {{/if}}

                {{#if def.scheme}}
                  <span class="font-bold no-underline bg-blue-light text-white text-xs uppercase rounded"
                    style="height: 20px;font-size: 11px;padding: 3px;">{{def.scheme}}</span>
                {{/if}}

                {{#if def.bearerFormat}}
                  <span class="font-bold no-underline bg-blue-light text-white text-xs uppercase rounded"
                    style="height: 20px;font-size: 11px;padding: 3px;">Header: {{def.name}}</span>
                {{/if}}

                {{#if def.openIdConnectUrl}}
                  <div class="px-4 py-2 ml-4 mb-3 border border-grey-light bg-grey-lightest rounded">
                    <div>
                      <span class="text-xs font-bold text-grey-dark mt-1 mr-1 uppercase">Connect URL:</span>
                      <a class="text-grey-dark text-xs font-normal" href="{{def.openIdConnectUrl}}"
                        target="_blank">{{def.openIdConnectUrl}}</a>
                    </div>
                  </div>

                {{/if}}

                {{#each def.flows as |flow flowName|}}
                  <div class="px-4 py-2 ml-4 mb-3 border border-grey-light bg-grey-lightest rounded">
                    <div>
                      <span class="text-xs font-bold text-grey-dark mt-1 mr-1 uppercase">Flow:</span>
                      <span class="text-grey-dark text-xs font-normal capitalize">
                        {{#if (equal flowName 'clientCredentials')}}
                          Client Credentials
                        {{else}}
                          {{#if (equal flowName 'authorizationCode')}}
                            Authorization Code
                          {{else}}
                            {{flowName}}
                          {{/if}}
                        {{/if}}
                      </span>
                    </div>

                    {{#if flow.authorizationUrl}}
                      <div>
                        <span class="text-xs font-bold text-grey-dark mt-1 mr-1 uppercase">Auth URL:</span>
                        <a class="text-grey-dark text-xs font-normal" href="{{flow.authorizationUrl}}" target="_blank">{{flow.authorizationUrl}}</a>
                      </div>
                    {{/if}}
                    {{#if flow.tokenUrl}}
                      <div>
                        <span class="text-xs font-bold text-grey-dark mt-1 mr-1 uppercase">Token URL:</span>
                        <a class="text-grey-dark text-xs font-normal" href="{{flow.tokenUrl}}"
                          target="_blank">{{flow.tokenUrl}}</a>
                      </div>
                    {{/if}}
                    {{#if flow.refreshUrl}}
                      <div>
                        <span class="text-xs font-bold text-grey-dark mt-1 mr-1 uppercase">Refresh URL:</span>
                        <a class="text-grey-dark text-xs font-normal" href="{{flow.refreshUrl}}"
                          target="_blank">{{flow.refreshUrl}}</a>
                      </div>
                    {{/if}}
                    {{#if flow.scopes}}
                      <div>
                        <span class="text-xs font-bold text-grey-dark mt-1 mr-1 uppercase">Scopes:</span>
                        {{#each flow.scopes as |scope scopeName|}}
                          <span class="font-bold no-underline bg-indigo-light text-white text-xs rounded"
                            style="height: 20px;padding: 3px;" title="{{scope}}">{{scopeName}}</span>
                        {{/each}}
                      </div>
                    {{/if}}

                  </div>
                {{/each}}
              {{/with}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/each}}

</div>
{{/if}}
