# Node modules
**/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.*

# Build files
dist
build
*.tgz

# Git
.git
.gitignore

# IDE files
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Testing
**/coverage
.nyc_output
test-results

**/Dockerfile
**/docker-compose*.yml
**/docker-compose*.yaml
