.DS_Store
node_modules
npm-debug.log
output
.vscode
######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
out/


./test/integration/templates/actual
./test/templates/*
!./test/templates/scripts
