<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{asyncapi.info.title}} {{asyncapi.info.version}} documentation</title>
  <link href="css/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/atom-one-dark.min.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="relative flex">
    <div class="fixed pin-t pin-l pin-b w-64 bg-grey-lighter font-sans pt-8 pr-4 pb-4 pl-4 sm:hidden md:hidden lg:hidden xl:block">
      {{#if asyncapi.info.x-logo}}
      <img src="{{asyncapi.info.x-logo}}" alt="{{asyncapi.info.title}} logo">
      {{else}}
      <h1 class="text-2xl font-thin">{{asyncapi.info.title}} {{asyncapi.info.version}}</h1>
      {{/if}}

      <ul class="text-sm mt-10 list-reset mt-2">
        <li class="mb-3">
          <a class="text-grey-darkest no-underline" href="#introduction">Introduction</a>
        </li>
        {{#if asyncapi.servers}}
        <li class="mb-3">
          <a class="text-grey-darkest no-underline" href="#servers">Servers</a>
        </li>
        {{/if}}
      </ul>

      {{#if asyncapi.channels}}
      <h2 class="text-xs uppercase text-grey mt-10 mb-4 font-thin">Operations</h2>
      <ul class="text-sm list-reset mt-2">
        {{#each asyncapi.channels}}
        <li>
          {{#if ./publish}}
            <a class="flex break-words no-underline mb-3 text-grey-darkest" href="#operation-publish-{{@key}}">
              {{#if ./deprecated}}<span title="Deprecated"></span>{{/if}}
              <span class="bg-blue-dark font-bold h-6 no-underline text-white uppercase p-1 rounded" style="height: 21px;font-size: 11px;" title="Publish">Pub</span>
              <span class="pl-2" style="padding-top: 2px;">
              {{#if ./publish.summary}}
                {{./publish.summary}}
              {{else}}
                {{@key}}
              {{/if}}
              </span>
            </a>
          {{/if}}
          {{#if ./subscribe}}
            <a class="flex break-words no-underline mb-3 text-grey-darkest" href="#operation-subscribe-{{@key}}">
              {{#if ./deprecated}}<span title="Deprecated"></span>{{/if}}
              <span class="bg-green-dark font-bold no-underline text-white uppercase p-1 rounded" style="height: 21px;font-size: 11px;" title="Subscribe">Sub</span>
              <span class="pl-2" style="padding-top: 2px;">
              {{#if ./subscribe.summary}}
                {{./subscribe.summary}}
              {{else}}
                {{@key}}
              {{/if}}
              </span>
            </a>
          {{/if}}
          </a>
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    <div class="flex-1 leading-loose z-10" style="margin-left: 256px;">
      {{~> content ~}}
    </div>
    <div class="absolute pin-t pin-r pin-b sm:hidden md:hidden lg:block xl:block" style="background-color: #263238;width:calc((100% - 256px) * 0.4);"></div>
  </div>
  <script src="js/highlight.min.js" type="application/javascript"></script>
  <script src="js/main.js" type="application/javascript"></script>
</body>
</html>
