<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{asyncapi.info().title()}} {{asyncapi.info().version()}} documentation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/atom-one-dark.min.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="relative md:flex lg:flex xl:flex">
    {% include ".partials/sidebar.html" %}
    <div class="content-panel flex-1 leading-loose z-10">
      {% include ".partials/content.html" %}
    </div>
    <div class="examples-panel absolute pin-t pin-r pin-b"></div>
  </div>
  <script src="js/highlight.min.js" type="application/javascript"></script>
  <script src="js/main.js" type="application/javascript"></script>
</body>
</html>
