<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Streetlights API 1.0.0 documentation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/atom-one-dark.min.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <div class="relative md:flex lg:flex xl:flex">
    

<input id="burger-menu" type="checkbox" />
<label for="burger-menu" class="shadow">
  <div class="wrapper">
    <span></span>
    <span></span>
    <span></span>
  </div>
</label>
<div class="sidebar-panel fixed pin-t pin-l pin-b w-64 bg-grey-lighter font-sans pt-8 pr-4 pb-4 pl-4">
  <div class="sidebar-panel__content">
    
    <h1 class="text-2xl font-thin">Streetlights API 1.0.0</h1>
    
    <ul class="text-sm mt-10 list-reset mt-2">
      <li class="mb-3">
        <a class="js-menu-item text-grey-darkest no-underline" href="#introduction">Introduction</a>
      </li>
      
      <li class="mb-3">
        <a class="js-menu-item text-grey-darkest no-underline" href="#servers">Servers</a>
      </li>
      
    </ul>
    
    <h2 class="text-xs uppercase text-grey mt-10 mb-4 font-thin">Operations</h2>
    <ul class="text-sm list-reset mt-2">
      

      <!--Without tags in sidebar-->
      
      <li>
        
        <a class="js-menu-item flex break-words no-underline text-grey-darkest mt-8 sm:mt-8 md:mt-3"
          href="#operation-publish-smartylighting/streetlights/1/0/event/{streetlightId}/lighting/measured">
          <span class="bg-blue-dark font-bold h-6 no-underline text-white uppercase p-1 mr-2 rounded"
            style="height: 21px;font-size: 11px;" title="Publish">Pub</span>
          
          <span style="padding-top: 2px;">
            Inform about environmental lighting conditions of a particular streetlight.
          </span>
          
        </a>
        
        
        </a>
      </li>
      
      <li>
        
        
        <a class="js-menu-item flex break-words no-underline text-grey-darkest mt-8 sm:mt-8 md:mt-3"
          href="#operation-subscribe-smartylighting/streetlights/1/0/action/{streetlightId}/turn/on">
          <span class="bg-green-dark font-bold no-underline text-white uppercase p-1 mr-2 rounded"
            style="height: 21px;font-size: 11px;" title="Subscribe">Sub</span>
          
          <div style="display:inline-block;">
            
<span class="string-chunk" style="padding-top: 2px;">smartylighting</span><span class="string-chunk" style="padding-top: 2px;">/streetlights</span><span class="string-chunk" style="padding-top: 2px;">/1</span><span class="string-chunk" style="padding-top: 2px;">/0</span><span class="string-chunk" style="padding-top: 2px;">/action</span><span class="string-chunk" style="padding-top: 2px;">/</span><span class="string-chunk" style="padding-top: 2px;">{streetlightId</span><span class="string-chunk" style="padding-top: 2px;">}</span><span class="string-chunk" style="padding-top: 2px;">/turn</span><span class="string-chunk" style="padding-top: 2px;">/on</span>

          </div>
          
        </a>
        
        </a>
      </li>
      
      <li>
        
        
        <a class="js-menu-item flex break-words no-underline text-grey-darkest mt-8 sm:mt-8 md:mt-3"
          href="#operation-subscribe-smartylighting/streetlights/1/0/action/{streetlightId}/turn/off">
          <span class="bg-green-dark font-bold no-underline text-white uppercase p-1 mr-2 rounded"
            style="height: 21px;font-size: 11px;" title="Subscribe">Sub</span>
          
          <div style="display:inline-block;">
            
<span class="string-chunk" style="padding-top: 2px;">smartylighting</span><span class="string-chunk" style="padding-top: 2px;">/streetlights</span><span class="string-chunk" style="padding-top: 2px;">/1</span><span class="string-chunk" style="padding-top: 2px;">/0</span><span class="string-chunk" style="padding-top: 2px;">/action</span><span class="string-chunk" style="padding-top: 2px;">/</span><span class="string-chunk" style="padding-top: 2px;">{streetlightId</span><span class="string-chunk" style="padding-top: 2px;">}</span><span class="string-chunk" style="padding-top: 2px;">/turn</span><span class="string-chunk" style="padding-top: 2px;">/off</span>

          </div>
          
        </a>
        
        </a>
      </li>
      
      <li>
        
        
        <a class="js-menu-item flex break-words no-underline text-grey-darkest mt-8 sm:mt-8 md:mt-3"
          href="#operation-subscribe-smartylighting/streetlights/1/0/action/{streetlightId}/dim">
          <span class="bg-green-dark font-bold no-underline text-white uppercase p-1 mr-2 rounded"
            style="height: 21px;font-size: 11px;" title="Subscribe">Sub</span>
          
          <div style="display:inline-block;">
            
<span class="string-chunk" style="padding-top: 2px;">smartylighting</span><span class="string-chunk" style="padding-top: 2px;">/streetlights</span><span class="string-chunk" style="padding-top: 2px;">/1</span><span class="string-chunk" style="padding-top: 2px;">/0</span><span class="string-chunk" style="padding-top: 2px;">/action</span><span class="string-chunk" style="padding-top: 2px;">/</span><span class="string-chunk" style="padding-top: 2px;">{streetlightId</span><span class="string-chunk" style="padding-top: 2px;">}</span><span class="string-chunk" style="padding-top: 2px;">/dim</span>

          </div>
          
        </a>
        
        </a>
      </li>
      
    </ul>
    
    
  </div>
</div>

    <div class="content-panel flex-1 leading-loose z-10">
      <div class="center-block p-8">
  <a name="introduction"></a>
  <h1>Streetlights API 1.0.0</h1>
  <div class="leading-normal mb-4">
    
    
      <a class="border border-solid border-orange-lighter hover:bg-orange-lighter hover:text-orange-dark font-bold no-underline text-orange text-xs uppercase rounded mr-2 px-3 py-1"
        href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache 2.0</a>
    
  </div>

  <div class="markdown">
    <p>The Smartylighting Streetlights API allows you to remotely manage the city lights.</p>
<h3>Check out its awesome features:</h3>
<ul>
<li>Turn a specific streetlight on/off 🌃</li>
<li>Dim a specific streetlight 😎</li>
<li>Receive real-time information about environmental lighting conditions 📈</li>
</ul>

  </div>


  <div class="leading-normal mb-4">
    
  </div>
</div>



<a name="servers"></a>
<div class="center-block p-8">

  <h2 class="mb-4">Servers</h2>

  
    <div class="shadow bg-grey-lighter mb-3 px-4 py-3">
      <div class="flex">
        <div>
          <div class="pr-4 font-mono">
            
<span class="string-chunk" >mqtt:</span><span class="string-chunk" >/</span><span class="string-chunk" >/test</span><span class="string-chunk" >.mosquitto</span><span class="string-chunk" >.org</span>


            
            <span class="bg-teal font-sans font-bold no-underline text-white uppercase rounded ml-2"
              style="height: 20px;font-size: 11px;padding: 3px;">mqtt</span>
            
          </div>
          <div class="text-xs text-grey-dark">
            <p>Test broker</p>

          </div>
        </div>
      </div>

      
        <div>
          
        </div>
      

      
    </div>
  

</div>





<a name="operations"></a>
<h2 class="mb-4 ml-8">Operations</h2>


  <div class="responsive-container">
    
      

<a name="operation-publish-smartylighting/streetlights/1/0/event/{streetlightId}/lighting/measured"></a>
<div class="center-block p-8">
  <div class="operation pt-8 pb-8">
    <h3 class="font-mono text-base">
      
      <span class="font-mono border border-blue text-blue uppercase p-1 rounded" title="Publish">Pub</span>
      
      
      
<span class="string-chunk" >smartylighting</span><span class="string-chunk" >/streetlights</span><span class="string-chunk" >/1</span><span class="string-chunk" >/0</span><span class="string-chunk" >/event</span><span class="string-chunk" >/</span><span class="string-chunk" >{streetlightId</span><span class="string-chunk" >}</span><span class="string-chunk" >/lighting</span><span class="string-chunk" >/measured</span>

    </h3>

    <div class="mt-4 mb-4 markdown"><p>The topic on which measured values may be produced and consumed.</p>
</div>

    <p class="text-grey text-sm">Inform about environmental lighting conditions of a particular streetlight.</p>
    <div class="mt-4 mb-4 markdown"></div>



    
    <div class="mt-2">
        <div class="is-open">
          <div class="js-prop cursor-pointer py-2 flex property">
            <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
              <span class="text" style="word-break: break-word;">Parameters</span>
              <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
                <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
              </svg>
            </div>
          </div>
          <div class="children bg-grey-lighter p-4 rounded">
            <div class="bg-grey-lightest pl-8 pr-8 rounded">
              
                

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">streetlightId</span>
        
        
          <div class="text-red-dark text-xs">required</div>
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


              
            </div>
          </div>
        </div>
      </div>
    


    
    <p>Accepts the following message:</p>
    

<div class="bg-grey-lighter rounded p-4 mt-2">
  <div class="text-sm text-grey-darker mb-2">
    
    
      Light measured
      
        <span class="border text-orange rounded text-xs ml-3 py-0 px-2">lightMeasured</span>
      
    
  </div>
  <p class="text-grey-dark text-sm">Inform about environmental lighting conditions of a particular streetlight.</p>
  <div class="mt-4 mb-4 markdown"></div>
  
<div>
  

<div class="bg-grey-lighter  rounded">
  <div class="is-open">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">Payload</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
object
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lightest py-4 rounded">
        
          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">lumens</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
integer
          
          
          
          <div class="inline-block">
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At least 0">>= 0</span>
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
          <div class="text-sm markdown"><p>Light intensity measured in lumens.</p>
</div>
        
        
        
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lighter py-4 rounded">
        

        
        
          <p class="pl-6 mb-2 mt-4 text-sm font-bold text-grey-darker">Specification Extensions:</p>
          
              <div class="bg-grey-lighter pl-6">
              
                  <div class="text-sm">x-pi: false</div>
              
              </div>
            
        

        

        

        

        

        
      </div>
    
  </div>
</div>


          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">sentAt</span>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
              <span class="bg-yellow-dark font-bold no-underline text-black rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;">date-time</span>
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
          <div class="text-sm markdown"><p>Date and time when the message was sent.</p>
</div>
        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


          
        

        
        

        

        
          
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are allowed.</p>
          
        

        

        

        
      </div>
    
  </div>
</div>


</div>

  
    <div class="mt-4">
      
<div>
  

<div class="bg-grey-lighter  rounded">
  <div class="is-open">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">Headers</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
object
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lightest py-4 rounded">
        
          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">my-app-header</span>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
integer
          
          
          
          <div class="inline-block">
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At least 0">>= 0</span>
            
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At most 100"><= 100</span>
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


          
        

        
        

        

        
          
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are allowed.</p>
          
        

        

        

        
      </div>
    
  </div>
</div>


</div>

    </div>
  
</div>


    

    
<div class="mt-4">
  
</div>


  </div>
</div>

<div class="right-block p-8">
  <h4 class="text-lg text-white mb-4">Examples</h4>

  
  

<form>
  <input type="radio" checked id="example-payload-smartylighting/streetlights/1/0/event/{streetlightId}/lighting/measured-lightMeasured" name="tab" class="examples-payload-tab hidden" />
  <label for="example-payload-smartylighting/streetlights/1/0/event/{streetlightId}/lighting/measured-lightMeasured" class="py-1 px-2 mr-2 mb-4 text-grey-lightest text-sm border rounded focus:outline-none cursor-pointer text-grey-lightest" >Payload</label>

  <input type="radio" id="example-headers-smartylighting/streetlights/1/0/event/{streetlightId}/lighting/measured-lightMeasured" name="tab" class="examples-headers-tab hidden"  />
  <label for="example-headers-smartylighting/streetlights/1/0/event/{streetlightId}/lighting/measured-lightMeasured"
      class="py-1 px-2 mr-2 mb-4 text-sm border rounded focus:outline-none cursor-pointer text-grey-lightest" >Headers</label>

  <div class="payload-examples mt-4">
    
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{
  "lumens": 0,
  "sentAt": "2019-12-07T18:06:08Z"
}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    
  </div>

  <div class="headers-examples mt-4">
    
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{
  "my-app-header": 0
}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    
  </div>
</form>


  
</div>



    
  </div>
  <div class="responsive-container">
    
  </div>

  <div class="responsive-container">
    
  </div>
  <div class="responsive-container">
    
      

<a name="operation-subscribe-smartylighting/streetlights/1/0/action/{streetlightId}/turn/on"></a>
<div class="center-block p-8">
  <div class="operation pt-8 pb-8">
    <h3 class="font-mono text-base">
      
      
      <span class="font-mono border border-green-dark text-green-dark uppercase p-1 rounded"
        title="Subscribe">Sub</span>
      
      
<span class="string-chunk" >smartylighting</span><span class="string-chunk" >/streetlights</span><span class="string-chunk" >/1</span><span class="string-chunk" >/0</span><span class="string-chunk" >/action</span><span class="string-chunk" >/</span><span class="string-chunk" >{streetlightId</span><span class="string-chunk" >}</span><span class="string-chunk" >/turn</span><span class="string-chunk" >/on</span>

    </h3>

    <div class="mt-4 mb-4 markdown"></div>

    <p class="text-grey text-sm"></p>
    <div class="mt-4 mb-4 markdown"></div>



    
    <div class="mt-2">
        <div class="is-open">
          <div class="js-prop cursor-pointer py-2 flex property">
            <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
              <span class="text" style="word-break: break-word;">Parameters</span>
              <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
                <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
              </svg>
            </div>
          </div>
          <div class="children bg-grey-lighter p-4 rounded">
            <div class="bg-grey-lightest pl-8 pr-8 rounded">
              
                

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">streetlightId</span>
        
        
          <div class="text-red-dark text-xs">required</div>
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


              
            </div>
          </div>
        </div>
      </div>
    


    
    <p>Accepts the following message:</p>
    

<div class="bg-grey-lighter rounded p-4 mt-2">
  <div class="text-sm text-grey-darker mb-2">
    
    
      Turn on/off
      
        <span class="border text-orange rounded text-xs ml-3 py-0 px-2">turnOnOff</span>
      
    
  </div>
  <p class="text-grey-dark text-sm">Command a particular streetlight to turn the lights on or off.</p>
  <div class="mt-4 mb-4 markdown"></div>
  
<div>
  

<div class="bg-grey-lighter  rounded">
  <div class="is-open">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">Payload</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
object
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lightest py-4 rounded">
        
          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">command</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
          <div class="text-sm markdown"><p>Whether to turn on or off the light.</p>
</div>
        
        
        
        
          <div class="text-xs">
            Enum:
            
              <span class="border text-orange rounded ml-1 py-0 px-2">"on"</span>
            
              <span class="border text-orange rounded ml-1 py-0 px-2">"off"</span>
            
          </div>
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lighter py-4 rounded">
        

        
        
          <p class="pl-6 mb-2 mt-4 text-sm font-bold text-grey-darker">Specification Extensions:</p>
          
              <div class="bg-grey-lighter pl-6">
              
                  <div class="text-sm">x-pi: false</div>
              
              </div>
            
        

        

        

        

        

        
      </div>
    
  </div>
</div>


          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">sentAt</span>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
              <span class="bg-yellow-dark font-bold no-underline text-black rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;">date-time</span>
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
          <div class="text-sm markdown"><p>Date and time when the message was sent.</p>
</div>
        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


          
        

        
        

        

        
          
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are allowed.</p>
          
        

        

        

        
      </div>
    
  </div>
</div>


</div>

  
    <div class="mt-4">
      
<div>
  

<div class="bg-grey-lighter  rounded">
  <div class="is-open">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">Headers</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
object
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lightest py-4 rounded">
        
          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">my-app-header</span>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
integer
          
          
          
          <div class="inline-block">
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At least 0">>= 0</span>
            
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At most 100"><= 100</span>
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


          
        

        
        

        

        
          
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are allowed.</p>
          
        

        

        

        
      </div>
    
  </div>
</div>


</div>

    </div>
  
</div>


    

    
<div class="mt-4">
  
</div>


  </div>
</div>

<div class="right-block p-8">
  <h4 class="text-lg text-white mb-4">Examples</h4>

  
  

<form>
  <input type="radio" checked id="example-payload-smartylighting/streetlights/1/0/action/{streetlightId}/turn/on-turnOnOff" name="tab" class="examples-payload-tab hidden" />
  <label for="example-payload-smartylighting/streetlights/1/0/action/{streetlightId}/turn/on-turnOnOff" class="py-1 px-2 mr-2 mb-4 text-grey-lightest text-sm border rounded focus:outline-none cursor-pointer text-grey-lightest" >Payload</label>

  <input type="radio" id="example-headers-smartylighting/streetlights/1/0/action/{streetlightId}/turn/on-turnOnOff" name="tab" class="examples-headers-tab hidden"  />
  <label for="example-headers-smartylighting/streetlights/1/0/action/{streetlightId}/turn/on-turnOnOff"
      class="py-1 px-2 mr-2 mb-4 text-sm border rounded focus:outline-none cursor-pointer text-grey-lightest" >Headers</label>

  <div class="payload-examples mt-4">
    
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{
  "command": "on",
  "sentAt": "2019-12-07T18:06:08Z"
}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    
  </div>

  <div class="headers-examples mt-4">
    
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{
  "my-app-header": 0
}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    
  </div>
</form>


  
</div>



    
  </div>

  <div class="responsive-container">
    
  </div>
  <div class="responsive-container">
    
      

<a name="operation-subscribe-smartylighting/streetlights/1/0/action/{streetlightId}/turn/off"></a>
<div class="center-block p-8">
  <div class="operation pt-8 pb-8">
    <h3 class="font-mono text-base">
      
      
      <span class="font-mono border border-green-dark text-green-dark uppercase p-1 rounded"
        title="Subscribe">Sub</span>
      
      
<span class="string-chunk" >smartylighting</span><span class="string-chunk" >/streetlights</span><span class="string-chunk" >/1</span><span class="string-chunk" >/0</span><span class="string-chunk" >/action</span><span class="string-chunk" >/</span><span class="string-chunk" >{streetlightId</span><span class="string-chunk" >}</span><span class="string-chunk" >/turn</span><span class="string-chunk" >/off</span>

    </h3>

    <div class="mt-4 mb-4 markdown"></div>

    <p class="text-grey text-sm"></p>
    <div class="mt-4 mb-4 markdown"></div>



    
    <div class="mt-2">
        <div class="is-open">
          <div class="js-prop cursor-pointer py-2 flex property">
            <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
              <span class="text" style="word-break: break-word;">Parameters</span>
              <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
                <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
              </svg>
            </div>
          </div>
          <div class="children bg-grey-lighter p-4 rounded">
            <div class="bg-grey-lightest pl-8 pr-8 rounded">
              
                

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">streetlightId</span>
        
        
          <div class="text-red-dark text-xs">required</div>
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


              
            </div>
          </div>
        </div>
      </div>
    


    
    <p>Accepts the following message:</p>
    

<div class="bg-grey-lighter rounded p-4 mt-2">
  <div class="text-sm text-grey-darker mb-2">
    
    
      Turn on/off
      
        <span class="border text-orange rounded text-xs ml-3 py-0 px-2">turnOnOff</span>
      
    
  </div>
  <p class="text-grey-dark text-sm">Command a particular streetlight to turn the lights on or off.</p>
  <div class="mt-4 mb-4 markdown"></div>
  
<div>
  

<div class="bg-grey-lighter  rounded">
  <div class="is-open">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">Payload</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
object
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lightest py-4 rounded">
        
          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">command</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
          <div class="text-sm markdown"><p>Whether to turn on or off the light.</p>
</div>
        
        
        
        
          <div class="text-xs">
            Enum:
            
              <span class="border text-orange rounded ml-1 py-0 px-2">"on"</span>
            
              <span class="border text-orange rounded ml-1 py-0 px-2">"off"</span>
            
          </div>
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lighter py-4 rounded">
        

        
        
          <p class="pl-6 mb-2 mt-4 text-sm font-bold text-grey-darker">Specification Extensions:</p>
          
              <div class="bg-grey-lighter pl-6">
              
                  <div class="text-sm">x-pi: false</div>
              
              </div>
            
        

        

        

        

        

        
      </div>
    
  </div>
</div>


          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">sentAt</span>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
              <span class="bg-yellow-dark font-bold no-underline text-black rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;">date-time</span>
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
          <div class="text-sm markdown"><p>Date and time when the message was sent.</p>
</div>
        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


          
        

        
        

        

        
          
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are allowed.</p>
          
        

        

        

        
      </div>
    
  </div>
</div>


</div>

  
    <div class="mt-4">
      
<div>
  

<div class="bg-grey-lighter  rounded">
  <div class="is-open">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">Headers</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
object
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lightest py-4 rounded">
        
          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">my-app-header</span>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
integer
          
          
          
          <div class="inline-block">
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At least 0">>= 0</span>
            
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At most 100"><= 100</span>
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


          
        

        
        

        

        
          
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are allowed.</p>
          
        

        

        

        
      </div>
    
  </div>
</div>


</div>

    </div>
  
</div>


    

    
<div class="mt-4">
  
</div>


  </div>
</div>

<div class="right-block p-8">
  <h4 class="text-lg text-white mb-4">Examples</h4>

  
  

<form>
  <input type="radio" checked id="example-payload-smartylighting/streetlights/1/0/action/{streetlightId}/turn/off-turnOnOff" name="tab" class="examples-payload-tab hidden" />
  <label for="example-payload-smartylighting/streetlights/1/0/action/{streetlightId}/turn/off-turnOnOff" class="py-1 px-2 mr-2 mb-4 text-grey-lightest text-sm border rounded focus:outline-none cursor-pointer text-grey-lightest" >Payload</label>

  <input type="radio" id="example-headers-smartylighting/streetlights/1/0/action/{streetlightId}/turn/off-turnOnOff" name="tab" class="examples-headers-tab hidden"  />
  <label for="example-headers-smartylighting/streetlights/1/0/action/{streetlightId}/turn/off-turnOnOff"
      class="py-1 px-2 mr-2 mb-4 text-sm border rounded focus:outline-none cursor-pointer text-grey-lightest" >Headers</label>

  <div class="payload-examples mt-4">
    
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{
  "command": "on",
  "sentAt": "2019-12-07T18:06:08Z"
}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    
  </div>

  <div class="headers-examples mt-4">
    
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{
  "my-app-header": 0
}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    
  </div>
</form>


  
</div>



    
  </div>

  <div class="responsive-container">
    
  </div>
  <div class="responsive-container">
    
      

<a name="operation-subscribe-smartylighting/streetlights/1/0/action/{streetlightId}/dim"></a>
<div class="center-block p-8">
  <div class="operation pt-8 pb-8">
    <h3 class="font-mono text-base">
      
      
      <span class="font-mono border border-green-dark text-green-dark uppercase p-1 rounded"
        title="Subscribe">Sub</span>
      
      
<span class="string-chunk" >smartylighting</span><span class="string-chunk" >/streetlights</span><span class="string-chunk" >/1</span><span class="string-chunk" >/0</span><span class="string-chunk" >/action</span><span class="string-chunk" >/</span><span class="string-chunk" >{streetlightId</span><span class="string-chunk" >}</span><span class="string-chunk" >/dim</span>

    </h3>

    <div class="mt-4 mb-4 markdown"></div>

    <p class="text-grey text-sm"></p>
    <div class="mt-4 mb-4 markdown"></div>



    
    <div class="mt-2">
        <div class="is-open">
          <div class="js-prop cursor-pointer py-2 flex property">
            <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
              <span class="text" style="word-break: break-word;">Parameters</span>
              <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
                <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
              </svg>
            </div>
          </div>
          <div class="children bg-grey-lighter p-4 rounded">
            <div class="bg-grey-lightest pl-8 pr-8 rounded">
              
                

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">streetlightId</span>
        
        
          <div class="text-red-dark text-xs">required</div>
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


              
            </div>
          </div>
        </div>
      </div>
    


    
    <p>Accepts the following message:</p>
    

<div class="bg-grey-lighter rounded p-4 mt-2">
  <div class="text-sm text-grey-darker mb-2">
    
    
      Dim light
      
        <span class="border text-orange rounded text-xs ml-3 py-0 px-2">dimLight</span>
      
    
  </div>
  <p class="text-grey-dark text-sm">Command a particular streetlight to dim the lights.</p>
  <div class="mt-4 mb-4 markdown"></div>
  
<div>
  

<div class="bg-grey-lighter  rounded">
  <div class="is-open">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">Payload</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
object
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lightest py-4 rounded">
        
          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">percentage</span>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
integer
          
          
          
          <div class="inline-block">
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At least 0">>= 0</span>
            
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At most 100"><= 100</span>
            
            
            
            
            
            
            
            
          </div>
        </div>

        
          <div class="text-sm markdown"><p>Percentage to which the light should be dimmed to.</p>
</div>
        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">sentAt</span>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
string
          
          
          
          <div class="inline-block">
            
              <span class="bg-yellow-dark font-bold no-underline text-black rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;">date-time</span>
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
          <div class="text-sm markdown"><p>Date and time when the message was sent.</p>
</div>
        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


          
        

        
        

        

        
          
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are allowed.</p>
          
        

        

        

        
      </div>
    
  </div>
</div>


</div>

  
    <div class="mt-4">
      
<div>
  

<div class="bg-grey-lighter  rounded">
  <div class="is-open">
    <div class="js-prop cursor-pointer py-2 flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">Headers</span>
        
        <svg class="expand" version="1.1" viewBox="0 0 24 24" x="0"
          xmlns="http://www.w3.org/2000/svg" y="0">
          <polygon points="17.3 8.3 12 13.6 6.7 8.3 5.3 9.7 12 16.4 18.7 9.7 "></polygon>
        </svg>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
object
          
          
          
          <div class="inline-block">
            
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
      <div class="children bg-grey-lightest py-4 rounded">
        
          
            

<div class="bg-grey-lightest pl-8 pr-8 rounded">
  <div class="">
    <div class=" flex property">
      <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
        <span class="text-sm " style="word-break: break-word;">my-app-header</span>
        
        
      </div>

      <div>
        <div class="capitalize text-sm text-teal font-bold">
          
integer
          
          
          
          <div class="inline-block">
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At least 0">>= 0</span>
            
            
            
              <span class="bg-purple-dark font-bold no-underline text-white rounded lowercase ml-2"
                style="height: 20px;font-size: 11px;padding: 3px;" title="At most 100"><= 100</span>
            
            
            
            
            
            
            
            
          </div>
        </div>

        
        
        
        
        
      </div>
    </div>

    
  </div>
</div>


          
        

        
        

        

        
          
            <p class="pl-6 mb-2 mt-4 text-xs text-grey-darker">Additional properties are allowed.</p>
          
        

        

        

        
      </div>
    
  </div>
</div>


</div>

    </div>
  
</div>


    

    
<div class="mt-4">
  
</div>


  </div>
</div>

<div class="right-block p-8">
  <h4 class="text-lg text-white mb-4">Examples</h4>

  
  

<form>
  <input type="radio" checked id="example-payload-smartylighting/streetlights/1/0/action/{streetlightId}/dim-dimLight" name="tab" class="examples-payload-tab hidden" />
  <label for="example-payload-smartylighting/streetlights/1/0/action/{streetlightId}/dim-dimLight" class="py-1 px-2 mr-2 mb-4 text-grey-lightest text-sm border rounded focus:outline-none cursor-pointer text-grey-lightest" >Payload</label>

  <input type="radio" id="example-headers-smartylighting/streetlights/1/0/action/{streetlightId}/dim-dimLight" name="tab" class="examples-headers-tab hidden"  />
  <label for="example-headers-smartylighting/streetlights/1/0/action/{streetlightId}/dim-dimLight"
      class="py-1 px-2 mr-2 mb-4 text-sm border rounded focus:outline-none cursor-pointer text-grey-lightest" >Headers</label>

  <div class="payload-examples mt-4">
    
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{
  "percentage": 0,
  "sentAt": "2019-12-07T18:06:08Z"
}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    
  </div>

  <div class="headers-examples mt-4">
    
    <pre class="hljs mb-4 border border-grey-darkest rounded"><code>{
  "my-app-header": 0
}</code></pre>
    <h6 class="text-xs font-bold text-grey-darker italic">This example has been generated automatically.</h6>
    
  </div>
</form>


  
</div>



    
  </div>




    </div>
    <div class="examples-panel absolute pin-t pin-r pin-b"></div>
  </div>
  <script src="js/highlight.min.js" type="application/javascript"></script>
  <script src="js/main.js" type="application/javascript"></script>
</body>
</html>
