{{#if asyncapi._security}}
<a name="security"></a>
<h2 class="security__header">Security</h2>

<table class="table">
  <thead class="table__head">
    <tr class="table__head__row">
      <th class="table__head__cell">Type</th>
      <th class="table__head__cell">In</th>
      <th class="table__head__cell">Name</th>
      <th class="table__head__cell">Scheme</th>
      <th class="table__head__cell">Format</th>
      <th class="table__head__cell">Description</th>
    </tr>
  </thead>
  <tbody class="table__body">
  {{#each asyncapi._security as |security|}}
    <tr class="table__body__row">
      <td class="table__body__cell">{{security.type}}</td>
      <td class="table__body__cell">{{security.in}}</td>
      <td class="table__body__cell">{{security.name}}</td>
      <td class="table__body__cell">{{security.scheme}}</td>
      <td class="table__body__cell">{{security.bearerFormat}}</td>
      <td class="table__body__cell">{{{security.descriptionAsHTML}}}</td>
    </tr>
  {{/each}}

  </tbody>
</table>
{{/if}}
