
{%- from "../../.partials/channel/publish.njk" import publish %}
{%- from "../../.partials/channel/reply.njk" import reply %}
{%- from "../../.partials/channel/request.njk" import request %}
{%- from "../../.partials/channel/subscribe.njk" import subscribe %}
{%- if channel.hasPublish() %}
import {default as {{ channel.publish().message(0).uid() | pascalCase }}Message} from '../messages/{{ channel.publish().message(0).uid() | pascalCase}}'
{%- endif %}
{%- if channel.hasSubscribe() %}
import {default as {{ channel.subscribe().message(0).uid() | pascalCase }}Message} from '../messages/{{ channel.subscribe().message(0).uid() | pascalCase}}'
{%- endif %}

import { Client, NatsError, Subscription, SubscriptionOptions, Payload } from 'ts-nats';
import * as utils from '../utils';

{%- if channel | isRequestReply %}
  {%- if channel | isRequester %}
  {{ request(channel, channelName, asyncapi.server(params.server)) }}
  {%- endif %}
  {%- if channel | isReplier %}
  {{ reply(channel, channelName, asyncapi.server(params.server)) }}
  {%- endif %}
{%- endif %}

{%- if channel | isPubsub %}
  {%- if channel.hasSubscribe() %}
  {{ subscribe(channel, channelName, asyncapi.server(params.server)) }}
  {%- endif %}
  {%- if channel.hasPublish() %}
  {{ publish(channel, channelName, asyncapi.server(params.server)) }}
  {%- endif %}
{%- endif %}
