html, body {
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.markdown h1 {
  font-size: 1.4em;
}

.markdown h2 {
  font-size: 1.3em;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1.15em;
}

.markdown h5 {
  font-size: 1em;
  font-weight: bold;
}

.markdown h6 {
  font-weight: bold;
  font-size: .7em;
  text-transform: uppercase;
}

.expand {
  width: 20px;
  margin-bottom: -4px;
  transform: rotate(-90deg);
}

.children {
  display: none;
}

.is-open > .children {
  display: block;
}

.is-open > .property .expand {
  transform: rotate(0deg);
}
