html, body {
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.markdown h1 {
  font-size: 1.4em;
}

.markdown h2 {
  font-size: 1.3em;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1.15em;
}

.markdown h5 {
  font-size: 1em;
  font-weight: bold;
}

.markdown h6 {
  font-weight: bold;
  font-size: .7em;
  text-transform: uppercase;
}

.expand {
  width: 20px;
  margin-bottom: -4px;
  transform: rotate(-90deg);
}

.children {
  display: none;
}

.is-open > .children {
  display: block;
}

.is-open > .property .expand {
  transform: rotate(0deg);
}

/* EXAMPLES */

.payload-examples,
.headers-examples {
  display: none;
}

.examples-payload-tab:checked + label {
  background-color: #38a89d;
  border-color: #38a89d;
}

.examples-payload-tab:checked ~ .payload-examples {
  display: block;
}

.examples-headers-tab:checked + label {
  background-color: #de751f;
  border-color: #de751f;
}

.examples-headers-tab:checked ~ .headers-examples {
  display: block;
}

/* PANELS */

.sidebar-panel {
  display: none;
}

.examples-panel {
  display: none;
}

.right-block {
  background-color: #263238;
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
  .sidebar-panel {
    display: block;
  }

  .content-panel {
    margin-left: 256px;
  }
}

@media only screen and (min-width: 1400px) {
  .responsive-container {
    display: flex;
  }

  .center-block {
    width: 60%;
  }

  .examples-panel {
    display: block;
    width: calc((100% - 256px) * 0.4);
    background-color: #263238;
  }

  .right-block {
    background-color: transparent;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 40%;
  }
}
