
{% macro subscribe(channel, channelName, server) %}
export function subscribe(onDataCallback : (err?: NatsError, msg?: {{channel.subscribe().message(0).uid() | camelCase}}) => void, nc?: Client): Promise<Subscription> {
  return new Promise(async (resolve, reject) => {
    if (nc) {
      try{
        let subscribeOptions: SubscriptionOptions = {};
        {%- if channel.subscribe().message(0) | hasNatsBindings %}
        {%- if channel.subscribe().message(0).bindings().nats().queue() | length %}
        //If queue
        subscribeOptions.queue = '{{channel.subscribe().message(0).bindings().nats().queue().name()}}';
        {%- endif %}
        {%- if channel.subscribe().message(0).bindings().nats().unsubAfter() | length %}
        //If unsubafter
        subscribeOptions.max = {{channel.subscribe().message(0).bindings().nats().unsubAfter()}};
        {%- endif %}
        {%- endif %}

        let subscription = nc.subscribe('{{channelName}}', (err, msg) => {
          if(err){
            onDataCallback(err);
          }else{
            let processedData = utils.processRecievedData(msg.data, Payload.{{server | tsPayload}}, '{{server | tsEncoding}}');
            let publishedData = new {{channel.subscribe().message(0).name() | camelCase}}();
            publishedData.copyFrom(processedData);
            onDataCallback(undefined, publishedData);
          }
        }, subscribeOptions);
        resolve(subscription);
      }catch(e){
        reject(e);
      }
    }else{
      reject(new Error("Nats client is not connected"));
    }
  })
}

{% endmacro %}
