{{#modules~}}
{{#if @first~}}{{>heading-indent}}Modules

<dl>
{{/if~}}
<dt>{{>sig-link-html}}</dt>
{{#if description}}<dd><p>{{{inlineLinks description}}}</p></dd>{{/if}}
{{#if @last~}}</dl>

{{/if~}}
{{/modules~}}
