{% from "./schema.html" import schema %}
{% from "./tags.html" import tags %}

{% macro message(msg, showIndex=false, index=0, open=false) %}

<div class="bg-gray-200 rounded p-4 mt-2">
  <div class="text-sm text-gray-700 mb-2">
    {% if showIndex %}
    <span class="text-gray-700 font-bold mr-2">#{{index}}</span>
    {% endif %}
    {% if msg.title() %}
      {{msg.title()}}
      <span class="border text-orange-600 rounded text-xs ml-3 py-0 px-2">{{msg.uid()}}</span>
    {% else %}
      <span class="border text-orange-600 rounded text-s py-0 px-2">{{msg.uid()}}</span>
    {% endif %}
  </div>
  <p class="text-gray-600 text-sm">{{msg.summary()}}</p>
  
  {{ tags(msg.tags()) }}

  <div class="mt-4 mb-4 markdown">{{ msg.description() | markdown2html | safe }}</div>
  {% if msg.payload() %}
    {{ schema(msg.payload(), 'Payload', open=open) }}
  {% endif %}
  {% if msg.headers() %}
    <div class="mt-4">
      {{ schema(msg.headers(), 'Headers', open=open) }}
    </div>
  {% endif %}
</div>

{% endmacro %}
