{% macro schemaItem(propName, odd=false) %}

<div class="{% if odd %}bg-gray-100{% else %}bg-gray-200{% endif %} pl-8 pr-8 rounded">
    <div class="js-prop cursor-pointer py-2 flex property">
        <div class="pr-4" style="margin-top:-2px; min-width: 25%;">
            <span class="text-sm" style="word-break: break-word;">{{ propName }}</span>
        </div>
        <div>
            <div class="capitalize text-sm text-teal-500 font-bold">
                [CIRCULAR]
            </div>        
        </div>
    </div>
</div>

{% endmacro %}