name: PR Review Checklist

on:
  pull_request_target:
    types: 
      - opened

jobs:
  pr-review-list:
    name: Post PR Review Checklist
    # it runs only if PR actor is not a bot, at least not a bot that we know
    if: |
      (github.event.pull_request.user.login != 'asyncapi-bot' && 
      github.event.pull_request.user.login != 'dependabot[bot]' && 
      github.event.pull_request.user.login != 'dependabot-preview[bot]') 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2 https://github.com/actions/checkout/releases/tag/v4.2.2

    - name: Post initial PR checklist
      uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 #v4.0.0 https://github.com/peter-evans/create-or-update-comment/releases/tag/v4.0.0
      with:
        token: ${{ secrets.GH_TOKEN }}
        issue-number: ${{ github.event.pull_request.number }}
        body-path: '.github/pr-review-checklist.md'